


<%= simple_form_for @post do |form| %>

<%=form.input :title %>
<%=form.input :body %>
<%=form.input :is_published %>
<%=form.input :is_featured %>

<%=form.button :submit %>

<!-- :submit is what it will do, "Create Post" is what I want it to say -->

<% end %>