

<section class="posts">
	<% @posts.each do |post| %>
		<div class="post">
			<h1><%= link_to post.title, post_path(post) %></h1>
			<p><%= truncate post.body, length: 20 %></p>
			<p>Posted <%= time_ago_in_words post.created_at %> ago.</p>
			
			</div>
	<% end %>
</section>

<!-- the (post) within post_path(post) comes from the block above i.e. do |post|