<h1>New post</h1>



<%= render "form" %>

<!-- form just comes from the name of the partial that we created before--!>
<!-- when rendering, needs to be a string when rendering within the view, but seems to need to be a symbol in the controller. Could use a symbol if you run the method .to_s to force it through if really needed to --!>
