<h1><%= @post.title %></h1>

<%= simple_format @post.body %>
<!--<%= simple_format @post.comments %> -->

<p>Posted <%= time_ago_in_words @post.created_at %> ago</p>

<div class="actions">
	<%= link_to "Edit", edit_post_path(@post) %>
	<%= link_to "Delete", post_path(@post), method: :delete %>
	<%= link_to "Post comment", new_post_comment_path(@post) %>
</div>

<div class="comment">
	<% @comments.each do |comment| %>
		<%= comment.body %>
		<%= comment.created_at %>
		<%= link_to "Edit", edit_post_comment_path(@post, comment) %>
	<% end %>
</div>
 
 <!-- #post has an @ symbol as it was created in the controller. comment doesn't need one as it was the comment used in the block (e.g. do |comment|) -->




