// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	max-width: 760px;
	margin: 20px auto;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	background-color: #B2D1F0
}

.posts {

}

.post {
	margin: 20px;
	background-color: #E7E7DA;
}

