<!DOCTYPE html>
<html>
<head>
  <title>Geopost</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>
		<%= link_to "Home", root_path %>
		<%= link_to "Post something", new_post_path %>
		<%= link_to "Recent", root_path %>
		<%= link_to "Featured", root_path(featured: true) %>
	</header>

	<% flash.each do |key, value| %>
	<div class=""><% key %>
		<p><%= value %></p>
	</div>

	<% end %>

	<p>Params for this page are: <%= params %></p>
	

<%= yield %>

</body>
</html>
